p i {
  color: red;
}

.line {
  text-decoration: underline;
}

.links a {
  text-decoration: none;
}

a[href^="http://"]
{
  color: red;
}

a {
  color: green;
}

p .line {
  color: gray;
}

p b {
text-decoration: underline;
color:purple
}

.odd .line {
  color: blue;
}

.odd i {
  text-decoration: underline;
}

a[href*=".com"]
{
  color: black;
}
