/*!important ESTE BAD PRACTICE - NU IL FOLOSIM*/
/*NU TREBUIE sa folosim ids in selectori - DAR le voi intalni*/

/*alternativa la #header in diesem Fall este sa dublam clasa header, pentru a creste specificitatea*/
.header.header h1 {
  color: green;
  text-decoration: underline;
  padding: 5px;
}

/*nicht empfohlen* - MAI BINE NU*/
 p.para {
  font-size: 25px;
  font-style: italic;
  color: purple;
 }

h1 {
  color: red;
}

.header h1 {
  color: blue;
}

p {
  text-decoration: underline;
}

.para {
  text-decoration: none;
  color: blueviolet
}
