@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-BlackItalic.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Thin.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-MediumItalic.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-ThinItalic.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Light.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Black.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-BoldItalic.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Medium.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-LightItalic.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Bold.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Italic.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/playfair-display/PlayfairDisplay-Black.woff2')
      format('woff2'),
    url('../fonts/playfair-display/PlayfairDisplay-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/playfair-display/PlayfairDisplay-BlackItalic.woff2')
      format('woff2'),
    url('../fonts/playfair-display/PlayfairDisplay-BlackItalic.woff')
      format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display SC';
  src: url('../fonts/playfair-display/PlayfairDisplaySC-BlackItalic.woff2')
      format('woff2'),
    url('../fonts/playfair-display/PlayfairDisplaySC-BlackItalic.woff')
      format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/playfair-display/PlayfairDisplay-Bold.woff2')
      format('woff2'),
    url('../fonts/playfair-display/PlayfairDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display SC';
  src: url('../fonts/playfair-display/PlayfairDisplaySC-Black.woff2')
      format('woff2'),
    url('../fonts/playfair-display/PlayfairDisplaySC-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display SC';
  src: url('../fonts/playfair-display/PlayfairDisplaySC-Italic.woff2')
      format('woff2'),
    url('../fonts/playfair-display/PlayfairDisplaySC-Italic.woff')
      format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/playfair-display/PlayfairDisplay-Regular.woff2')
      format('woff2'),
    url('../fonts/playfair-display/PlayfairDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/playfair-display/PlayfairDisplay-Italic.woff2')
      format('woff2'),
    url('../fonts/playfair-display/PlayfairDisplay-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/playfair-display/PlayfairDisplay-BoldItalic.woff2')
      format('woff2'),
    url('../fonts/playfair-display/PlayfairDisplay-BoldItalic.woff')
      format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display SC';
  src: url('../fonts/playfair-display/PlayfairDisplaySC-Bold.woff2')
      format('woff2'),
    url('../fonts/playfair-display/PlayfairDisplaySC-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display SC';
  src: url('../fonts/playfair-display/PlayfairDisplaySC-BoldItalic.woff2')
      format('woff2'),
    url('../fonts/playfair-display/PlayfairDisplaySC-BoldItalic.woff')
      format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display SC';
  src: url('../fonts/playfair-display/PlayfairDisplaySC-Regular.woff2')
      format('woff2'),
    url('../fonts/playfair-display/PlayfairDisplaySC-Regular.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* fonts */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', serif;
  color: #707070;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1270px;
  margin: 0 auto;
  width: 100%;
}

/* header */

.header-secondary {
  height: 340px;
  background: #1b1927 url('../images/images/Banner/banner.png') center center/
    cover no-repeat;
  color: #fff;
  font-size: 14px;
}

.header-secondary .header-top-inner {
  display: flex;
  justify-content: space-between;
  padding: 35px 120px 8px 100px;
}

.header-secondary .header-connect {
  float: left;
}

.header-secondary .header-connect ul {
  display: flex;
  align-items: center;
}

.header-secondary .header-connect li i[class*='fa-'] {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}

.header-secondary .header-controls {
  display: flex;
  align-items: flex-end;
}

.header-secondary .header-controls > ul {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-secondary .header-controls li {
  display: inline-block;
  color: #1b1927;
}

.header-secondary .header-controls .user-controls .icon {
  font-size: 24px;
  margin-left: 8px;
}

.header-secondary .header-controls li:last-child a {
  font-size: 28px;
  position: relative;
}

.header-primary {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  color: #e8e8e8;
  background-color: black;
  opacity: 1;
}

.nav-primary {
  text-align: center;
  font-size: 20px;
  margin-bottom: 16px;
}

.header-primary .nav-primary ul {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 12px;
}
/* margin */

.nav-primary a {
  padding: 6px 45px;
  margin: 0 8px;
  border-radius: 20px;
  transition: background-color 0.4s linear, color 0.4s linear;
}

.nav-primary a:hover {
  background-color: #1b1927;
  color: #fff;
}
/* ./header */

/* footer */

.footer {
  background-color: lightgrey;
  padding: 50px 50px 35px 50px;
  font-size: 14px;
  font-weight: 300;
  color: black;
  line-height: 20px;
  text-transform: uppercase;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-inner .footer-contact {
  margin-bottom: 40px;
  line-height: 30px;
}

.footer-inner .footer-contact ul {
  display: inline-block;
  margin-left: 40px;
  vertical-align: top;
}

.footer-inner .footer-contact ul:first-child {
  margin-left: 0px;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  margin-bottom: 40px;
  line-height: 30px;
}

.footer-connect {
  margin-bottom: 40px;
  line-height: 30px;
}

.footer-newsletter img {
  display: block;
}

.footer-social ul li {
  display: inline-block;
}
/* ./footer */

/* main */

.content-main > section {
  margin-bottom: 98px;
}

.content-main > section > header {
  margin-bottom: 50px;
}

.content-main > section > header h1 {
  font-size: 41px;
  line-height: 59px;
  text-align: center;
  color: #292929;
  font-weight: 300;
  border-top: 1px solid #ccc;
}

.home-catalog-preview ul {
  display: flex;
  justify-content: space-between;
}

.home-catalog-preview ul li {
  width: 26.386541%;
  margin-right: 1%;
}

.home-catalog-preview .product-tile {
  width: 100%;
}

.product-tile {
  font-size: 24px;
  text-align: center;
}

.product-tile .product-tile-image {
  position: relative;
}

.product-tile .product-tile-image a {
  display: block;
}

.product-tile .product-tile-image img {
  width: 100%;
}

.product-tile .product-tile-image .product-tile-pricing {
  font-weight: 500;
  position: absolute;
  top: 20px;
  right: 20px;
}

.product-tile .product-tile-title {
  font-weight: 300;
  margin: 18px 0 12px 0;
}

.product-tile .product-tile-title span:first-child {
  color: #000;
  font-weight: 500;
}

.product-tile .product-tile-title :nth-child(2) {
  font-weight: 500;
}

.product-tile .product-tile-pricing {
  display: block;
  margin: 16px 0;
  font-size: 18px;
  font-weight: 300;
}

.home-content {
  display: flex;
  justify-content: space-between;
}

.home-content-section h1 {
  margin-bottom: 50px;
}

.home-content > section > h1 {
  font-size: 41px;
  line-height: 59px;
  text-align: center;
  color: #2b2b2b;
  font-weight: 400;
  border-top: 12px;
  margin-left: 50px;
}

.home-content > section > p {
  text-align: left;
  line-height: 30px;
  font-weight: 300;
  margin-left: 50px;
  height: 242px;
  top: 1764px;
  left: 1087px;
  letter-spacing: 0.33px;
  opacity: 1;
}

.home-catalog-ctas {
  margin-top: 16px;
  text-align: center;
}

.home-catalog-preview .home-catalog-ctas a {
  text-transform: lowercase;
  font-size: 18px;
  line-height: 29px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  color: #2b2b2b;
  top: 2990px;
  left: 921px;
  width: 78px;
  letter-spacing: 0.88px;
  opacity: 1;
}

.home-catalog-preview .home-catalog-ctas a::after,
.home-catalog-preview .home-catalog-ctas a::before {
  display: inline-block;
  width: 24px;
  height: 1px;
}

.home-catalog-preview .home-catalog-ctas a:hover::after,
.home-catalog-preview .home-catalog-ctas a:hover::before {
  width: 72px;
}

/* ./main */
